* text=auto eol=lf
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.phive export-ignore
/tests export-ignore
/tools export-ignore

.editorconfig export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
*.md export-ignore
phpstan.dist.neon export-ignore
psalm.xml export-ignore
sonar-project.proerties export-ignore

.gitkeep export-ignore
*Test.php export-ignore
